/* Body Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #d33051;
	color: #333;
}

/* Header Styles */
header {
	background-color: hsl(54, 85%, 47%);
	color: #fff;
	padding: 20px;
}

header .container {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

header img {
	border-radius: 50%;
	margin-right: 20px;
	width: 100px;
	height: 100px;
}

header h1, header h2 {
	margin: 0;
}

header h1 {
	font-size: 36px;
}

header h2 {
	font-size: 24px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

header li {
	margin-left: 10px;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

/* Main Styles */
main {
	background-color: #fff;
}

main .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

section {
	flex: 1;
	margin: 10px;
	background-color:
